.fly4 {
	display: none;
}
.span2 {
	width: initial;
}
.lang {
	margin: 3em 1em 0 0;
	float: right;
}
.lang img {
	margin: 0.2em;
	float: right;
	width: 2.5em;
	height: auto;
	border: 0.1em solid #bdbdbd;
	border-radius: 0.3em;
}
.cbdg-unit a:hover {
	text-decoration: none;
	color: inherit;
}
p {
	text-align: justify;
	margin-right: 40px;
}

.slide_title {
	font-size: 3em;
	font-weight: 600;
	font-style: italic;
	color: orange;
	text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
}

.header {
	position: fixed;
	width: 100%;
	top: 0;
	margin-top: 0;
}

.cbdg-unit {
	margin-top: 50px;
}

/* menu dla wersji desktop */
.span7 {
	width: inherit;
}
.menu_desktop {
	float: right;
	margin: 2.4em 1em 0 0;
}
.menu_desktop li {
	display: inline-block;
	text-align: left;
}
.menu ul { display: none; } /* Hide before plugin loads */
.menu ul.dropit-submenu {
    background-color: #fff;
    border: 1px solid #b2b2b2;
    padding: 6px 0;
    /*margin: 3px 0 0 1px;*/
    -webkit-border-radius: 3px;
       -moz-border-radius: 3px;
            border-radius: 3px;
    -webkit-box-shadow: 0px 1px 3px rgba(0,0,0,0.15);
       -moz-box-shadow: 0px 1px 3px rgba(0,0,0,0.15);
            box-shadow: 0px 1px 3px rgba(0,0,0,0.15);
}    
.menu ul.dropit-submenu li {
	display: block;
}      
.menu ul.dropit-submenu a {
    display: block;
    font-size: 14px;
    line-height: 25px;
    color: #7a868e;
    padding: 0 18px;
}
.menu ul.dropit-submenu a:hover {
	display: block;
    background: #faa732;
    color: #fff;
    text-decoration: none;
}


/* menu z prawej niewidoczne w wersji desktop*/
#menuicoDiv {
	visibility: hidden;
}

/* trick zeby po kliknieciu odnosnika w menu naglowek nie zaslanial tresci*/
:target:before {
content:"";
display:block;
height:90px; /* fixed header height*/
margin:-90px 0 0; /* negative fixed header height */
}

@media (max-width: 1100px) {

	/*wrapper calej strony*/
	.page-content-wrapper {
		width: 100%;
		min-width: 100px;
	}

	.container {
		width: 100%;
		height: auto;
	}
	p {
		margin-right: 0;
	}
	
	/* menu dla urzadzen mobilnych*/
	.menu_desktop {
		display:none;
	}
	#menuicoDiv {
		visibility:visible;
	}

	/* naglowek z 3 prostokatami */
	.cbdg-unit {
		width: 100%;
		height: auto;
		background-size: cover;
	}

	.row {
		width: 100%;
	}

	/* trzy prostokaty w naglowku */
	.cbdg-unit ul {
		margin: 0;
		//display: none;
	}
	.fly3 {
		margin-left: 0;
		display: none;
	}
	.cssanimations .float-up {
		position: initial;
		width: 100%;
		margin: 3px 0 3px 0;
	}
	
	/* jeden prostokat - dla mniejszych rozdzielczosci */
	.fly4 {
		display: block;
	}
	.fly4 li {
		height: auto !important;
		padding-bottom: 80px !important;
	}
	.fly4 h3 {
		margin-top: 20px;
	}

	/* potrzebujesz danych geo? */
	.span10 {
		width: 100%;
	}
	.white-panel {
		margin-left: 0;
		margin-right: 0;
	}

	/* boxy z trescia */
	.span12 {
		width: 100%;
	}

	/* odwiedz portal */
	.span5, .span8 {
		width: 100%;
	}
	.better-manage .slider-container {
		position: static;
	}
	.pull-right {
		float: none;
	}
	p.small-text {
		text-align: center;
	}
	img.portal, .img-tilt {
		display: block;
		margin: auto;
		margin-bottom: 1em;
		width: 100%;
		max-width: 500px !important;
		height: auto;
	}
	[class*="span"] {
		margin-left: 0;
	}

	/* stopka */
	.footer {
		min-width: initial;
	}

}

@media (max-width: 720px) {
	
	/* buttony */
	.btn {
		display: block;
		margin: 0 2em 0 2em;
	}
	
	.footer {
		padding: 1em;
		padding-top: 45px;
	}

}

@media (max-width: 600px) {

	.cbdg-unit {
		padding: 20px 20px 60px 20px;
		margin-top:60px;
	}
	
	/* naglowek w stopce */
	.logo_footer {
		width: 100%;
	}
	.title_h1_footer {
		font-size: 1.5em;
	}
	.footer h3 {
		text-align: center;
	}

}

@media (max-width: 460px) {
	/* zmiana jezyka */
	.lang {
		margin-top: -2em;
	}
	.lang img {
		float: right;
		width: 8%;
		min-width: 25px;
	}
	.title_h1 {
		font-size: 0.7em;
		font-weight: 700;
	}
}

@media (max-width: 400px) {
	/* nagłówek PGI CBDG */
	.logo {
		margin-top: 20px;
		width: 100%;
		height: 40px;
	}
	.title_h1 {
		font-size: 0.6em;
	}
	h1 .title_h1 {
		display: block;
		margin: -0.5em 0 0 7.5em;
	}
	
	.logo img {
		width: 20%;
		min-width: 65px;
		height: auto;
		position: absolute;
		top: 1em;
	}
	.cbdg-unit {
		margin-top: 50px;
	}
	.cbdg-unit h1 {
		font-size: 2.4em;
	}
	
	/* zmiana jezyka */
	.lang {
		margin-top: 0.1em;
	}
	
	/* elementy slidera */
	.jssorb05 {
		display: none;
	}
	
	/* stopka */
	.title_h1_footer {
		font-size: 1.4em;
	}
	.footer h3 {
		
		font-size: 1.2em;
	}

}

@media (max-width: 340px) {
	h1 .title_h1 {
		margin: -1em 0 0 6.5em;
	}
}